body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin: 0;
	padding:0;
}
/* （3）（4）清理默认li样式 */
ul{
	 :       ;
}
/* （5）（6） 显示为块级元素*/
img{
	   :      ;
}
/* （7）（8）清理左右浮动 */
.clear:after{
	content: "";
	display: block;
	     :    ;
}
.box{
	width: 100%;
}
.box .con{
	width: 1375px;
	margin:0 auto;
}
.box .con ul{
	padding-top:30px;
}
/* （9）（10）设置为左浮动 */
.box .con ul li{
	    :    ;
	width: 250px;
	margin:0 22px 22px 0;
	border:1px solid #eee;
}
.box .con ul li img{
	margin:15px auto 0;
}
.box .con ul li p{
	padding:15px;
}
/* （11）鼠标进入添加1像素的红色实线 */
.box .con ul li:    {
	border:1px solid red;
}