body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin: 0;
	padding:0;
}
ul{
	list-style: none;
}
img{
	display: block;
}
.clear:after{
	content: "";
	display: block;
	clear:both;
}
.box{
	background-color: #ccc;
}
.box .con{
	width: 1200px;
	margin:30px auto;
	padding:50px 0;
}
.box .con ul li{
	float:left;
	background-color: #fff;
	width: 380px;
	/* （4）（5）（6）（7）设置li边框为圆角15px，文字对齐方式为居中。 */
			:            ;
			:     ;
	overflow: hidden;
}
.box .con ul li:nth-child(2){
	margin:0 30px;
}
.box .con ul li img{
	margin:50px auto 0;
	/* （8）此处设置图片的过渡效果为0.8秒 */
	        : .8s;
}
.box .con ul li p{
	/* （9）（10）设置内边距上下为0，左右为15px */
			:		;
	line-height: 140px;
	border-bottom:1px solid #ddd;
	font-weight: 600;
	color:#555;
}
.box .con ul li span{
	display: block;
	width: 100%;
	height:60px;
	line-height: 60px;
	/* （11）此处设置文字的过渡效果为0.8秒 */
			:.8s;
}
.box .con ul li:hover img{
	/* （12）（13）用CSS3的实现鼠标经过图片旋转360度，放大1.3倍，离开再旋转还原。 */
	transform:rotate(360deg) scale(1.3);
}
.box .con ul li:hover span{
	background-color: #f7c324;
	font-weight: 600;
}
